
.pageWorks
  overflow: hidden
  +flex_center
  align-items: flex-end
  background-attachment: fixed
  text-align: left
  line-height: 40px
  li

    display: flex
    .date
      width: 110px

  .back_img

    
    .left_img
      height: 100vh
      // border-radius: 120px 120px 0px 0px
      background: url("/img/03_WORKS/DOWN_00.jpg")
      background-size: 1500px auto
      background-position: center center  
      overflow: hidden



  //頁面內容
  .content
    display: flex
    align-items: flex-end
    padding-bottom: 30px
    +rwd_sm
      flex-direction: column
      align-items: center
      padding-left: 30px
      padding-right: 30px
    //左側專輯蘭
    .left
      width: 45%

      +rwd_sm
        width: 100%


    //右側歌詞欄
    .right
      box-sizing: border-box
      width: 55%
      padding-left: 5%
      
      +rwd_sm
        width: 100%
        margin-top: 30px
        padding-left: 0% 

      p
        text-align: center
        //font-size: 16px
        line-height: 30px

  //標頭封面
  .cover
    // width: 100%
    // padding-bottom: 100%
    position: relative
    .btn_left,.btn_right
      +ab_center
      width: 30px
      cursor: pointer
      opacity: 0.5
      +trans
      &:hover
        opacity: 1
    .btn_left
      left: -15px
    .btn_right
      left: initial
      right: -15px
    
  .cover_info
    +ab_full
    +ab_center
    +flex_center
    +trans
    opacity: 0
    &:hover
      background-color: rgba(black,0.5)
      opacity: 1

  .cover_container
    position: relative

  .cover_info
    

  .about_text
    height: 50px
    display: block
    margin-bottom: 20px
    
  .right_1
    width: 50%
  .right_2
    width: 40%
    margin-top: 30vmin

  //左側專輯
  .col_album
    display: flex
    flex-direction: column

    align-items: center

    +rwd_sm
      // display: block



    .album_cover
      width: 250px
      border: solid 1px white
      margin-bottom: 30px
      // margin-left: 20px
      // margin-right: 20px

  .tracks
    display: flex
    flex-direction: column
    
    +rwd_sm
      height: 300px
      flex-wrap: wrap
      
    //左側歌名
    .track
      opacity: 0.35
      cursor: pointer
      text-align: center
      margin-bottom: -5px
      +trans
      img
        height: 50px
      &.active
        opacity: 1


  .col_lyrics


  //右邊歌詞
  .lyrics
    margin-bottom: 30px
    position: absolute
    bottom: 100px
    left: 50%
    transform: translateX(-50%)
    white-space: nowrap
    +rwd_sm
      position: relative
      bottom: 0px
      left: 0
      transform: none
      margin-top: 30px

  .btns
    display: flex
    justify-content: center
    align-items: center
    &>*
      flex-shrink: 0
      span
        white-space: nowrap
    a
      color: white

  .right
    position: relative
    audio
      margin-right: 40px


//手機版區塊選單
.phoneTab
  display: flex
  margin-bottom: 30px
    
  .btn
    border: solid 1px white
    flex: 1
    padding: 5px 10px
    width: 100%
    margin: 0
    border-radius: 5px 5px 0px 0px
    cursor: pointer
    
    &.active
      background-color: white
      color: black
