
.pageVideo
  overflow: hidden
  +flex_center
  align-items: flex-end
  background-attachment: fixed
  text-align: left
  line-height: 40px


  .col_video_selector
    +grid_8_layout


  li

    display: flex
    .date
      width: 110px

  .back_img


    
    .left_img
      height: 100vh
      // border-radius: 120px 120px 0px 0px
      background: url("/img/04_WORKS-02/DOWN_00.jpg")
      background-size: 1500px auto
      background-position: 10% center  
      overflow: hidden

  iframe
    mix-blend-mode: lighten

  .video_nav
    width: 100%

    text-align: right
    display: flex
    align-items: flex-end
    justify-content: flex-end

    .tag  
      margin-left: 30px

    img
      height: 42px

  .content
    width: 86%
    margin-left: 5vmin
    position: relative
    padding-top: 6vmin
    +flex_center
    .top
      +flex_center
      flex-direction: row
      align-items: flex-start
      justify-content: flex-start

  .about_text
    height: 50px
    display: block
    margin-bottom: 20px

  .right_1
    width: 50%
  .right_2
    width: 40%
    margin-top: 30vmin